.hidden{
    display: none;
}
.visible{
    display: block;
}



.login_container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.input_login{
    padding: 5px;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color: #EBEDEF;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;

    color: #111111;
    font-size: 18px;
}
.input_login:focus{
    outline: none;
}

.btn_login{
    border-color: #EBEDEF;
    color: #EBEDEF;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 54px;
    border-radius: 5px;
}
.btn_login:hover{
    border-color: #111111;
    color: #111111;
}